@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<!-- Page Header Start -->
<div class="container-fluid page-header mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center pt-0 pt-lg-5" style="min-height: 400px">
        <h4 class="display-4 mb-3 mt-0 mt-lg-5 text-white text-uppercase font-weight-bold">Galerimiz</h4>
        <div class="d-inline-flex">
            <p class="m-0 text-white"><a class="text-white" href="/Home/Index">Ana Sayfa</a></p>
            <p class="m-0 text-white px-2">/</p>
            <p class="m-0 text-white">Galerimiz</p>
        </div>
    </div>
</div>
<!-- Page Header End -->

<div class="container gym-feature py-5">
    <div class="tab-class">
        <ul class="nav nav-pills justify-content-center mb-4">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="pill" href="#class-all">Özel Ders</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="pill" href="#class-cardio">Grup Ders</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="pill" href="#class-crossfit">Yetişkinler</a>
            </li>
        </ul>
        <div class="tab-content">
            <div id="class-all" class="container tab-pane p-0 active">
                <p>Özel Ders</p>
                <div class="container pt-5 team">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 mb-5">
                            <div class="card border-3 border-dark text-center text-white">
                                <a href="~/Assets/img/özel/IMG_0467.jpeg" data-fancybox="group" data-caption="">
                                    <img src="~/Assets/img/özel/IMG_0467.jpeg" style="max-height:240px; max-width:350px;" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="class-cardio" class="container tab-pane fade p-0">
                <div class="container pt-5 team">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 mb-5">
                            <div class="card border-3 border-dark text-center text-white">
                                <a href="~/Assets/img/grup/IMG_0414.jpeg" data-fancybox="group" data-caption="">
                                    <img src="~/Assets/img/grup/IMG_0414.jpeg" style="max-height:240px; max-width:350px;" />
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 mb-5">
                            <div class="card border-3 border-dark text-center text-white">
                                <a href="~/Assets/img/grup/IMG_0420.jpeg" data-fancybox="group" data-caption="">
                                    <img src="~/Assets/img/grup/IMG_0420.jpeg" style="max-height:240px; max-width:350px;" />
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 mb-5">
                            <div class="card border-3 border-dark text-center text-white">
                                <a href="~/Assets/img/grup/IMG_0458.jpeg" data-fancybox="group" data-caption="">
                                    <img src="~/Assets/img/grup/IMG_0458.jpeg" style="max-height:240px; max-width:350px;" />
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 mb-5">
                            <div class="card border-3 border-dark text-center text-white">
                                <a href="~/Assets/img/grup/IMG_0460.jpeg" data-fancybox="group" data-caption="">
                                    <img src="~/Assets/img/grup/IMG_0460.jpeg" style="max-height:240px; max-width:350px;" />
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 mb-5">
                            <div class="card border-3 border-dark text-center text-white">
                                <a href="~/Assets/img/grup/IMG_0494.jpeg" data-fancybox="group" data-caption="">
                                    <img src="~/Assets/img/grup/IMG_0494.jpeg" style="max-height:240px; max-width:350px;" />
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 mb-5">
                            <div class="card border-3 border-dark text-center text-white">
                                <a href="~/Assets/img/grup/IMG_0530.jpeg" data-fancybox="group" data-caption="">
                                    <img src="~/Assets/img/grup/IMG_0530.jpeg" style="max-height:240px; max-width:350px;" />
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 mb-5">
                            <div class="card border-3 border-dark text-center text-white">
                                <a href="~/Assets/img/grup/IMG_0537.jpeg" data-fancybox="group" data-caption="">
                                    <img src="~/Assets/img/grup/IMG_0537.jpeg" style="max-height:240px; max-width:350px;" />
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 mb-5">
                            <div class="card border-3 border-dark text-center text-white">
                                <a href="~/Assets/img/grup/IMG_0594.jpeg" data-fancybox="group" data-caption="">
                                    <img src="~/Assets/img/grup/IMG_0594.jpeg" style="max-height:240px; max-width:350px;" />
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 mb-5">
                            <div class="card border-3 border-dark text-center text-white">
                                <a href="~/Assets/img/grup/IMG_0627.jpeg" data-fancybox="group" data-caption="">
                                    <img src="~/Assets/img/grup/IMG_0627.jpeg" style="max-height:240px; max-width:350px;" />
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 mb-5">
                            <div class="card border-3 border-dark text-center text-white">
                                <a href="~/Assets/img/grup/IMG_0630.jpeg" data-fancybox="group" data-caption="">
                                    <img src="~/Assets/img/grup/IMG_0630.jpeg" style="max-height:240px; max-width:350px;" />
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 mb-5">
                            <div class="card border-3 border-dark text-center text-white">
                                <a href="~/Assets/img/grup/IMG_0638.jpeg" data-fancybox="group" data-caption="">
                                    <img src="~/Assets/img/grup/IMG_0638.jpeg" style="max-height:240px; max-width:350px;" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="class-crossfit" class="container tab-pane fade p-0">
                <p>Yetişkinler</p>
                <div class="container pt-5 team">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 mb-5">
                            <div class="card border-3 border-dark text-center text-white">
                                <a href="~/Assets/img/mascim1.jpeg" data-fancybox="group" data-caption="">
                                    <img src="~/Assets/img/mascim1.jpeg" style="max-height:240px; max-width:350px;" />
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 mb-5">
                            <div class="card border-3 border-dark text-center text-white">
                                <a href="~/Assets/img/mascim2.jpeg" data-fancybox="group" data-caption="">
                                    <img src="~/Assets/img/mascim2.jpeg" style="max-height:240px; max-width:350px;" />
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 mb-5">
                            <div class="card border-3 border-dark text-center text-white">
                                <a href="~/Assets/img/mascim3.jpeg" data-fancybox="group" data-caption="">
                                    <img src="~/Assets/img/mascim3.jpeg" style="max-height:240px; max-width:350px;" />
                                </a>

                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 mb-5">
                            <div class="card border-3 border-dark text-center text-white">
                                <a href="~/Assets/img/mascim4.jpeg" data-fancybox="group" data-caption="">
                                    <img src="~/Assets/img/mascim4.jpeg" style="max-height:240px; max-width:350px;" />
                                </a>

                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 mb-5">
                            <div class="card border-3 border-dark text-center text-white">
                                <a href="~/Assets/img/mascim6.jpeg" data-fancybox="group" data-caption="">
                                    <img src="~/Assets/img/mascim6.jpeg" style="max-height:240px; max-width:350px;" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- start gallery-->
<!-- end gallery-->
<script>
    $('[data-fancybox]').fancybox({
        // Options will go here
        buttons: [
            'close'
        ],
        wheel: false,
        transitionEffect: "slide",
        // thumbs          : false,
        // hash            : false,
        loop: true,
        // keyboard        : true,
        toolbar: false,
        // animationEffect : false,
        // arrows          : true,
        clickContent: false
    });
</script>
