@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Carousel Start -->
<div class="container-fluid p-0">
    <div id="blog-carousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="w-100" src="~/assets/img/ayse-begum-onbasi-artistikcimnastik.jpg" alt="Image">
                <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                    <h3 class="text-primary text-capitalize m-0">Cimnastik</h3>
                    <h2 class="display-2 m-0 mt-2 mt-md-4 text-white font-weight-bold text-capitalize">Esnek Ve Dengeli Hale Gelin</h2>
                </div>
            </div>
        </div>
        @*<a class="carousel-control-prev" href="#blog-carousel" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#blog-carousel" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>*@
    </div>
</div>
<!-- Carousel End -->
<!--  Class Start -->
<div class="container gym-class mb-5">
    <div class="row px-3">
        <div class="col-md-6 p-0">
            <div class="gym-class-box d-flex flex-column align-items-end justify-content-center bg-primary text-right text-white py-5 px-5">
                <i class="flaticon-six-pack"></i>
                <h3 class="display-4 mb-3 text-white font-weight-bold">Cimnastik</h3>
                <p>
                    Belli kurallar dahilinde , değişik özelliklerdeki aletlerin tekniklerini estetik ve
                    zarafet bütünlüğü içerisinde serbest vücut hareketleriyle bağlantılı olarak müzik eşliğinde , uyumlu
                    ve akıcı bir şekilde sergilenmesiyle oluşan bir eğitim aracı ve spor dalıdır.
                </p>
                <a href="/Home/Contact" class="btn btn-lg btn-outline-light mt-4 px-4">İletişim</a>
            </div>
        </div>
        <div class="col-md-6 p-0">
            <div class="gym-class-box d-flex flex-column align-items-start justify-content-center bg-secondary text-left text-white py-5 px-5">
                <i class="flaticon-bodybuilding"></i>
                @*<h3 class="display-4 mb-3 text-white font-weight-bold">Cimnastik</h3>*@
                <p>
                    Fiziksel güç, esneklik, kuvvet, çeviklik, koordinasyon ve denge gerektiren hareketleri içeren bir spor dalıdır.
                    Artistik Cimnastik, Ritmik Cimnastik, Trampolin Cimnastik, Akrobatik Cimnastik, Aerobik Cimnastik Step Aerobik
                    ve Pilatesten oluşan disiplinleri içerir.
                </p>
                @*<a href="/Home/Contact" class="btn btn-lg btn-outline-light mt-4 px-4">İletişim</a>*@
            </div>
        </div>
    </div>
</div>
<!--  Class End -->
<!--   Start -->
<div class="container  pt-5">
    <div class="d-flex flex-column text-center mb-5">
        <h4 class="display-4 font-weight-bold">Hizmetlerimiz</h4>
    </div>
    <div class="row px-4 pb-2">
        <div class="col-sm text-center mb-4">
            <i class="fa fa-2x fa-users mb-3 text-primary"></i>
            <h4 class="font-weight-bold">Grup Dersleri</h4>
        </div>
        <div class="col-sm text-center mb-4">
            <i class="fa fa-2x fa-filter mb-3 text-primary"></i>
            <h4 class="font-weight-bold">Özel Dersler</h4>
        </div>
        <div class="col-sm text-center mb-3">
            <i class="fa fa-2x  fa-user-circle mb-3 text-primary"></i>
            <h4 class="font-weight-bold">Yetişkinler İçin Dersler</h4>
        </div>
        <div class="col-sm text-center mb-3">
            <i class="fa fa-2x fa-child mb-3 text-primary"></i>
            <h4 class="font-weight-bold">Özel Gereksinimli Çocuklar İçin Dersler </h4>
        </div>
    </div>
</div>
<!--   End -->
<!--  Start -->
<div class="container-fluid my-5">
    <div class="row">
        <div class="col-lg-4 p-0">
            <div class="d-flex align-items-center bg-secondary text-white px-5" style="min-height: 300px;">
                <i class="fa fa-4x fa-question text-primary mr-3"></i>
                <div class="">
                    <h2 class="text-white mb-3">Vizyonumuz</h2>
                    <p>
                        Genel olarak sporun, özelde cimnastiğin anlam ve önemini kavratmak.
                        Cimnastiği, yaşam boyu faydalanılabilecek bedensel ve ruhsal bir deneyimler bütünü olarak öğrencilere sunmak.
                        Bu sayede öğrencilerin ve dolayısıyla çevresindekilerin yaşam kalitelerini yükseltmek.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 p-0">
            <div class="d-flex align-items-center bg-primary text-white px-5" style="min-height: 300px;">
                <i class="flaticon-medal display-3 text-secondary mr-3"></i>
                <div class="">
                    <h2 class="text-white mb-3">Bizim Farkımız Nedir?</h2>
                    <p>
                        Her yaştan bireyin sporu yaşam biçimi haline getirmelerini sağlamak, aynı zamanda spor yapmayı çağdaş yaşamın bir gereği olarak algılayan, mutlu, kendine güvenen çocuklar ve gençler yetiştirme hedefine ulaşmak üzere, zihinsel ve bedensel olarak sağlıklı, disiplinli, mücadele gücü yüksek, kentimizi ülke çapında ve uluslararası platformlarda yüksek performanslar elde etmek için temsil edecek sporcular yetiştirmektir.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 p-0">
            <div class="d-flex align-items-center bg-secondary text-white px-5" style="min-height: 300px;">
                <i class="flaticon-support display-3 text-primary mr-3"></i>
                <div class="">
                    <h2 class="text-white mb-3">Neden Cimnastik?</h2>
                    <p>
                        Çocuklarda cimnastik çalışmaları, fiziksel gelişimin yanında zihinsel gelişimide desteklemektedir.
                        Uzun yıllar tecrübemiz ve bilimsel araştırmalar göstermiştirki; cimnastik eğitimi, okul öncesi yada ilkokul dönemindeki çocuklarda, kendine güven, kendini ifade edebilme, konsantre olabilme, kurallara uyum sağlama ve
                        günlük aktivitelerini proglamlama gibi kişisel bir çok beceriyi geliştirmektedir.

                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--  End -->
<!--   Start -->
<div class="container feature pt-5">
    <div class="d-flex flex-column text-center mb-5">
        <h4 class="display-4 font-weight-bold">Cimnastiğin Çocuklara Faydaları</h4>
    </div>
    <div class="row">
        <div class="col-md-6 mb-5">
            <div class="row align-items-center">
                <div class="col-sm-5">
                    <img class="img-fluid mb-3 mb-sm-0" src="~/assets/img/mascim1.jpeg" alt="Image">
                </div>
                <div class="col-sm-7">
                    <p class="text-black">
                        <h6><strong>Güçlü, kuvvetli, dayanıklı, hızlı, esnek ve dengeli hale gelir.</strong></h6>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-5">
            <div class="row align-items-center">
                <div class="col-sm-5">
                    <img class="img-fluid mb-3 mb-sm-0" src="~/assets/img/mascim2.jpeg" alt="Image">
                </div>
                <div class="col-sm-7">
                    <p>
                        <h6>
                            <strong>
                                İçine kapanık çocuklar grup içerisinde sosyalleşmeye başlar.
                                Korkusuz, kararlı ve motivasyonlu hale gelir.
                            </strong>
                        </h6>

                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-5">
            <div class="row align-items-center">
                <div class="col-sm-5">
                    <img class="img-fluid mb-3 mb-sm-0" src="~/assets/img/mascim3.jpeg" alt="Image">
                </div>
                <div class="col-sm-7">
                    <p>
                        <h6>
                            <strong>
                                Sağlıklı bir yaşama adım atmış olur.
                                Disiplinli, düzenli ve planlı olmayı öğrenir.
                            </strong>
                        </h6>

                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-5">
            <div class="row align-items-center">
                <div class="col-sm-5">
                    <img class="img-fluid mb-3 mb-sm-0" src="~/assets/img/mascim4.jpeg" alt="Image">
                </div>
                <div class="col-sm-7">
                    <p>
                        <h6><strong>Duruş bozukluklarını önler.</strong></h6>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- GYM Feature End -->
