@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Page Header Start -->
<div class="container-fluid page-header mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center pt-0 pt-lg-5" style="min-height: 400px">
        <h4 class="display-4 mb-3 mt-0 mt-lg-5 text-white text-uppercase font-weight-bold">Hizmetlerimiz</h4>
        <div class="d-inline-flex">
            <p class="m-0 text-white"><a class="text-white" href="/Home/Index">Ana Sayfa</a></p>
            <p class="m-0 text-white px-2">/</p>
            <p class="m-0 text-white">Hizmetlerimiz</p>
        </div>
    </div>
</div>
<!-- Page Header End -->
<!--  Start 1-->
<div class="container feature pt-5">
    <div class="d-flex flex-column text-center mb-5">
        <h4 class="display-4 font-weight-bold">Hizmetlerimiz</h4>
    </div>
    <div class="row">
        <div class="col-md-6 mb-5">
            <div class="row align-items-center">
                <div class="col-sm-5">
                    <i class="fa fa-users" aria-hidden="true"></i>
                </div>
                <div class="col-sm-7">
                    <h4 class="font-weight-bold">Grup Dersleri</h4>
                    <p style=" margin-top: 35px; ">Donanımlı salonumuzda 4-6 kişilik özel gruplar halinde ders verilmektedir.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-5">
            <div class="row align-items-center">
                <div class="col-sm-5 ">
                    <i class="fa fa-filter" aria-hidden="true"></i>
                </div>
                <div class="col-sm-7">
                    <h4 class="font-weight-bold">Özel Dersler</h4>
                    <p style=" margin-top: 35px; ">Öğrencinin ihtiyaç ve isteklerine yönelik,sportif ve kişisel gelişimlerine katkı sağlayacak birebir dersler verilmektedir.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-5">
            <div class="row align-items-center">
                <div class="col-sm-5">
                    <i class="fa  fa-user-circle" aria-hidden="true"></i>

                </div>
                <div class="col-sm-7">
                    <h4 class="font-weight-bold">Yetişkinler</h4>
                    <p style=" margin-top: 35px; ">Hobi olarak cimnastik yapmak isteyen bireylere maksimum verimde olacak şekilde özel ve grup dersleri verilmektedir.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-5">
            <div class="row align-items-center">
                <div class="col-sm-5">
                    <i class="fa fa-child" aria-hidden="true"></i>
                </div>
                <div class="col-sm-7">
                    <h4 class="font-weight-bold">Özel Gereksinimli Çocuklar</h4>
                    <p style=" margin-top: 35px; ">Uzman antrenörlerimiz eşliğinde fiziksel ve ruhsal gelişimlerine katkı sağlayacak antreman metotlarıyla amaca yönelik birebir dersler yapılmaktadır.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end1-->
